.logo {
  height: 160px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assets_for_logo/Currency\ Converter\ logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.higher-section {
  height: 150px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.currency-converter-name {
  font-size: 40px;
}
